* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Federant";
  /* border: 1px solid white; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.layer-1 {
  background-image: url(images/stp-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(30%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -3;
}

.layer-2 {
  background-image: url(images/gears-2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  filter: grayscale(25%);
  left: -50px;
  top: -40px;
  height: 120vh;
  width: 45vw;
  position: fixed;
  z-index: -2;
}

.layer-3 {
  background-image: url(images/gears-2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(15%);
  right: -80px;
  top: -50px;
  height: 130vh;
  width: 40vw;
  position: fixed;
  z-index: -1;
}

.layer-4 {
  background-image: url(images/rust-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(30%);
  transform: skewX(-3deg);
  border: 5px solid #222;
  border-radius: 10px 0 10px 0;
  box-shadow: 0 0 50px 20px #000;
  height: 22vh;
  width: 65vw;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 0 12px;
}

.layer-4 .face {
  display: flex;
  flex-grow: 1;
  height: 80px;
}

.f1, .f2, .f3, .f4, .f5, .f6, .f7, .f8 {
  background-color: #222;
  border: 2px solid #b07208;
  border-radius: 5px;
  box-shadow: 0 0 18px 8px #000;
  flex-grow: 1;
}

.layer-4 .logo {
  transform: skewX(3deg);
  color: #222;
  font-size: 2.5em;
  font-weight: 900;
  text-align: end;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px #b07208;
}

.layer-5 {
  background-image: url(images/rust-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(30%);
  transform: skewX(3deg);
  border: 5px solid #222;
  border-radius: 0 10px 0 10px;
  box-shadow: 0 0 50px 20px #000;
  height: 68vh;
  width: 60vw;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0;
}

.buttons {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 16% 16% 16% 16% 16% 16%;
  justify-content: space-between;
}

.button {
  background-color: #222;
  border: 2px solid #b07208;
  border-radius: 0 10% 0 10%;
  margin: 8px 16px;
  padding: 3px 26px;
  text-align: center;
  box-shadow: 0 0 18px 8px #000;
}

.button p {
  transform: skewX(-3deg);
  color: #b07208;
  font-size: 1.8em;
  cursor: pointer;
}

.info {
  transform: rotate(90deg);
  background-color: #222;
  border: 2px solid #b07208;
  margin-top: 140px;
  margin-left: 110px;
}

.info a {
  text-decoration: none;
  font-size: 1.6em;
  text-wrap: nowrap;
  color: #b07208;
  letter-spacing: 1px;  
}